<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="msapplication-TileColor" content="#0E0E0E" />
    <meta name="template-color" content="#0E0E0E" />

    <!-- <link rel="manifest" href="manifest.json" crossorigin /> -->
    <!-- <meta name="msapplication-config" content="browserconfig.xml" />
    <meta name="description" content="Index page" />
    <meta name="keywords" content="index, page" />
    <meta name="author" content="" /> -->
    <link
      href="../static/assets/css/style.css"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/assets/imgs/"
    />

    <title>Analytics Solutions for CFOs</title>
  </head>
  <body>
    <!-- Preloader Start-->
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="text-center">
            <div class="loader"></div>
          </div>
        </div>
      </div>
    </div>
    <header class="header sticky-bar">
      <div class="container">
        <div class="main-header">
          <div class="header-left">
            <div class="header-logo">
              <a class="d-flex" href="/"
                ><img
                  alt="Agon"
                  src="../static/assets/imgs/template/zipdata-final.png"
              /></a>
            </div>
            <!-- <div class="header-nav">
              <nav class="nav-main-menu d-none d-xl-block">
                <div class="burger-icon burger-icon-white">
                  <span class="burger-icon-top"></span>
                  <span class="burger-icon-mid"></span>
                  <span class="burger-icon-bottom"></span>
                </div>
              </nav>
            </div> -->
          </div>
        </div>
      </div>
    </header>

    <main class="main">
      <section class="section-box mt-50 mb-50">
        <div class="container">
          <h5>{{confirmation}}</h5>
        </div>
      </section>
    </main>
    <!-- Footer-->

    <script src="../static/assets/js/vendors/modernizr-3.6.0.min.js"></script>
    <script src="../static/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="../static/assets/js/vendors/jquery-migrate-3.3.0.min.js"></script>
    <script src="../static/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/js/vendors/waypoints.js"></script>
    <script src="../static/assets/js/vendors/wow.js"></script>
    <script src="../static/assets/js/vendors/magnific-popup.js"></script>
    <script src="../static/assets/js/vendors/perfect-scrollbar.min.js"></script>
    <script src="../static/assets/js/vendors/select2.min.js"></script>
    <script src="../static/assets/js/vendors/isotope.js"></script>
    <script src="../static/assets/js/vendors/scrollup.js"></script>
    <script src="../static/assets/js/vendors/counterup.js"></script>
    <script src="../static/assets/js/vendors/slick.js"></script>
    <script src="../static/assets/js/vendors/jquery.elevatezoom.js"></script>
    <script src="../static/assets/js/vendors/swiper-bundle.min.js"></script>
    <script src="../static/assets/js/vendors/noUISlider.js"></script>
    <script src="../static/assets/js/vendors/slider.js"></script>
    <script src="../static/assets/js/main.js?v=1.0"></script>
  </body>
</html>
